@import './mixin.scss';

.aidol-draw {
  background-color: $--primary-color;
  width: $--size;
  height: $--size;
  display: grid;
  grid-template-columns: repeat(2, 50%);

  &__item {
      transform: translate(100);
  }
}